body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#drop-area.highlight {
    border-color: purple;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.caption-input {
    width: 100%;
    margin-top: 5px;
}

#upload-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#upload-button:hover {
    background-color: #45a049;
}