<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images</title>
    <link rel="stylesheet" href="/static/upload_style.css">
</head>
<body>
    <div class="container">
        <h1>Upload Images for Slideshow</h1>
        <div id="drop-area">
            <form class="my-form">
                <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
                <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
                <label class="button" for="fileElem">Select some files</label>
            </form>
        </div>
        <div id="gallery"></div>
        <button id="upload-button" class="button">Create Slideshow</button>
    </div>
    <script src="/static/upload.js"></script>
</body>
</html>